body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

main {
    display: flex;
    flex: 1;
    overflow: hidden;
}

#sidebar {
    width: 300px;
    border-right: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: transform 0.3s;
    position: relative;
    z-index: 2;
}

#sidebar.closed {
    transform: translateX(-100%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

#filterInput {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.thesaurus-item {
    padding: 6px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8
}

.thesaurus-item:hover {
    opacity: 1;
}

#content {
    flex: 1 1 0%;
    padding: 10px;
    margin-left: 20px;
    overflow: auto;
    transition: margin-left 0.3s;
}

#content > div {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

#content > div > div:last-child {
    margin-left: 30px;
    width: 45%;
    min-width: 320px;
}

.indexation-type-item {
  margin-bottom: 8px;
  list-style-type: disc;
  font-size: 0.95em;
}

.indexation-type-line {
  display: flex;
  flex-direction: column;
  font-size: 0.95em;
  margin-top: 2px;
}

.indexation-type-label {
  font-weight: bold;
  font-size: 0.95em;
}

.indexation-concept-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-left: 10px;
}

.indexation-concept {
  display: inline-flex;
  align-items: center;
  font-size: 0.95em;
}

.indexation-concept-link img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 2px;
}

.indexation-concept-delete {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.indexation-concept-separator {
  margin: 0 2px;
}

.concepts-table {
  border-collapse: collapse;
  margin-top: 1em;
  width: 100%;
  text-wrap: initial;
}

.concepts-table th,
.concepts-action-cell,
.concepts-table td {
  padding: 4px;
}

.concepts-action-cell {
  vertical-align: top;
  
}

.concepts-select {
  width: 180px;
}

.concepts-info {
  font-size: 0.85em;
  margin-top: 2px;
}

.concepts-label-cell img,
.broader-cell img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 2px;
}

.broader-cell {
  padding: 4px;
}