body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#searchInput {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#searchBtn {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#searchResults {
  flex: 1;
  overflow: auto;
  font-size: 0.9em;
}

#content {
  flex: 1 1 0%;
  padding: 10px;
  margin-left: 20px;
  overflow: auto;
  transition: margin-left 0.3s;
}

#content>div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

#existingIndexationsCol {
  width: 100%;
}

.indexation-type-item {
  margin-bottom: 8px;
  list-style-type: disc;
  font-size: 0.95em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indexation-list .clickable:hover {
  background-color: #e0e0e0;
}

.indexation-type-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.95em;
  margin-top: 2px;
}

.indexation-type-label {
  font-weight: bold;
  font-size: 0.95em;
}

.indexation-concept-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-left: 10px;
}

.indexation-concept {
  display: inline-flex;
  align-items: center;
  font-size: 0.95em;
}

.indexation-concept-link img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 2px;
}

.indexation-concept-delete {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.indexation-concept-separator {
  margin: 0 2px;
}

.concepts-table {
  border-collapse: collapse;
  margin-top: 1em;
  width: 100%;
  text-wrap: initial;
}

.concepts-table th,
.concepts-action-cell,
.concepts-table td {
  padding: 4px;
}

.concepts-action-cell {
  vertical-align: top;
}

.concepts-select {
  width: 180px;
}

.concepts-info {
  font-size: 0.85em;
  margin-top: 2px;
}

.concepts-label-cell img,
.broader-cell img {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-left: 2px;
}

.broader-cell {
  padding: 4px;
}